<section>
  <div class="container-fluid pos p-0">
    <div class="line2"></div>
  </div>
  <div class="container-fluid wrap1-inner contain">
    <div class="mb3"></div>
    <div class="row">
      <div class="col-md-12 m-auto pr-3 padding-bottom">
        <h1 class="mb2 heading">Join GM</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="mx-w">
              <p class="-mb:1 -t:13 -fw:3">Once you submit your information below, you can expect an email
                with next steps
                on
                becoming an Axial member. </p>
              <div class="input-form gform_wrapper">
                <div id="gf_6" class="gform_anchor" tabindex="-1"></div>
                <div class="form" target="gform_ajax_frame_6">
                  <ul>
                    <li class="gfield">
                      <span class="animated-placeholder">
                        <input type="text" class="" placeholder="First Name">
                      </span>
                    </li>
                    <li class="gfield">
                      <span class="animated-placeholder">
                        <input type="text" class="" placeholder="Last Name">
                      </span>
                    </li>
                    <li class="gfield">
                      <span class="animated-placeholder">
                        <input type="text" class="" placeholder="Company Name">
                      </span>
                    </li>
                    <li class="gfield">
                      <span class="animated-placeholder">
                        <input type="text" class="" placeholder="Email">
                      </span>
                    </li>
                    <li class="gfield">
                      <span class="animated-placeholder">
                        <input type="text" class="" placeholder="Phone Number">
                      </span>
                    </li>
                    <li class="gfield">
                      <span class="animated-placeholder">
                        <select>
                          <option selected="selected">Company Type</option>
                          <option>M&A Advisor</option>
                          <option>Investor</option>
                          <option>Lender</option>
                          <option>Owner/CXO</option>
                          <option>Other</option>
                        </select>
                      </span>
                    </li>
                  </ul>
                  <button class="btn btn-primary w-100 br-2" id="gform_submit_button_6"><span
                      class="float-left">Submit</span><i
                      class="fas fa-long-arrow-alt-right float-right mt-1"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 padding_right-with-div">
            <h6 class="-c:a1t h6">MEMBERSHIP CRITERIA</h6>

            <ul class="checks1 mt-4">
              <li>You’re actively investing in or acquiring North American lower middle market companies.<br>
              </li>
              <li>You’re actively advising North American lower middle market companies on debt, equity or sell-side
                M&amp;A transactions.</li>
              <li>You own or operate a North American company generating at least $5M in annual revenues, and are
                looking to hire an M&amp;A advisor, raise capital, or explore a sale in the next 24 months. </li>
            </ul>
            <div class="connect1">
              <ul class="connect1-list">
                <li>
                  <a href="tel:800.860.4519" target="_blank">
                    <span class="img1" style="--r: 1">
                      <img src="assets/images/connect1-phone.svg" alt="">
                    </span>
                    <strong>800.860.4519</strong>
                  </a>
                </li>
                <li>
                  <a href="mailto:info@globelmerge.eu" target="_blank">
                    <span class="img1" style="--r: 1">
                      <img src="assets/images/connect1-email.svg" alt="">
                    </span>
                    <strong>info@gm.eu</strong>
                  </a>
                </li>
                <li>
                  <a href="#" class="drift-open-chat">
                    <span class="img1" style="--r: 1">
                      <img src="assets/images/connect1-chat.svg" alt="">
                    </span>
                    <strong>Live Chat</strong>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
