<section>
    <div class="container-fluid pos p-0">
        <div class="line2"></div>
    </div>
    <div class="fluid-container">
        <div class="jumbotron text-center font-weight-bold">
            <h1 class=" themeBlack font-weight-bold" style="font-size:5vw;">{{ Title }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-12 col-12">
                        <button
                            class="btn btn-lg bg-light float-lg-left text-white custom-btn w-100 mb-md-2 btnfont themeBlack responsive-font"
                            [ngClass]="{'btn-primary': tab=='1','bg-light': tab=='2'}" routerLink="/comming-soon">{{ b1
                            }} <i class="fa fa-arrow-right ml-2"></i></button>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12 col-12">
                        <button
                            class="btn btn-lg bg-light float-lg-right mt-lg-0 mt-xl-0 mt-md-0 mt-2 custom-btn w-100 btnfont themeBlack responsive-font"
                            [ngClass]="{'btn-primary': tab=='2','bg-light': tab=='1'}" routerLink="/comming-soon">{{ b2
                            }} <i class="fa fa-arrow-right ml-2"></i></button>
                    </div>
                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-md-12 mt-5 mb-5 pb-5" id="one">
                        <accordion>
                            <accordion-group [isOpen]="false" #myGroup>
                                <div class="clearfix" accordion-heading type="button">
                                    <div class="accordian-display"><span class="pull-left float-left themeBlack"><i
                                                class="mr-2 fas"
                                                [ngClass]="{'fa fa-arrow-down': myGroup?.isOpen, 'fa fa-arrow-right': !myGroup?.isOpen}"></i></span><span
                                            class="pull-left float-left themeBlack">Market
                                            Size & Major Players</span></div>
                                    
                                </div>
                                <strong class=" themeBlack">Market Size and Major Players</strong>


                                <p class="text-justify themeBlack">Europe accounts for 25 % of all cars produced
                                    globally.</p> 

                                <p class="text-justify themeBlack">Today, around 300 million cars run on the roads of
                                    Europe. 
                                    Automobile manufacturing
                                    is
                                    a significant business in Europe producing 19.7 million light and heavy motor
                                    vehicles
                                    annually. Europe has much automotive company for sale and one can look forward to
                                    acquiring any automotive manufacturing company for sale in Europe.  Last year, over
                                    5.5
                                    million cars were exported from Europe with a worth of 130 billion euros. The
                                    countries
                                    from EU15 make around 415 billion euros from tariffs and charges from the automotive
                                    sector.</p>

                                <p class="text-justify themeBlack">The automotive sector, being the largest investor in
                                    the private
                                    sector in Europe
                                    invests over 50 million euros for research every year.  Turnover from the automobile
                                    industry contributes to 7% of the EU’s gross domestic product.</p>

                                 
                                <p class="text-justify themeBlack">The Automotive manufacturers in Europe operate around
                                    300
                                    vehicle assembly and
                                    production plants in over 25 countries across Europe.  The European automotive
                                    industry
                                    is a strategic player, delivering world-class standard products globally and
                                    bringing a
                                    90-billion-euro trade surplus.  The major players participating in the automotive
                                    industry in Europe include Volkswagen, Fiat Chrysler Automobiles, DIAMLER, BMW,
                                    RENAULT,
                                    PSA, VOLVO, FORD, Jaguar Land Rover, IVECO, TOYOTA Europe, HYUNDAI Europe, HONDA
                                    Europe,
                                    DAF, Valeo, and GKN.  Several automotive businesses for sale are available in
                                    Europe.
                                    Strategic investors have several options to choose from automotive business for
                                    sale,
                                    automotive companies for sale in Europe.</p>
                            </accordion-group>
                            <accordion-group [isOpen]="false" #myGroup2>
                                <div class="clearfix" accordion-heading type="button">
                                    <div class="accordian-display"><span class=" themeBlack"><i class="mr-2 fas"
                                                [ngClass]="{'fa fa-arrow-down': myGroup2?.isOpen, 'fa fa-arrow-right': !myGroup2?.isOpen}"></i></span><span
                                            class=" themeBlack">
                                            Future
                                            Trends and Upcoming Technologies
                                        </span></div>
                                </div>
                                <strong>Trends and Upcoming Technologies</strong>

                                ​<p class="text-justify themeBlack">Connectivity and Digitization are expected to impact
                                    the
                                    automotive industry until
                                    2030.  The upcoming trends are hybrid electric vehicles, battery electric mobility,
                                    and
                                    fuel cell electric vehicles.  Concepts like flying taxis, autonomous driving,
                                    artificial
                                    intelligence chips for the automotive industry are in the developmental stages.
                                    Trends
                                    like car sharing, ride sharing, micro transit will be on the rise and more private
                                    vehicles are expected to be on the roads by 2030. Small new technology automotive
                                    businesses are on sale in Europe.</p>

                                <p class="text-justify themeBlack">Connected driving and Automated driving technology
                                    have the
                                    power to revolutionize
                                    individual mobility in the upcoming years.  Connected Vehicles are the vehicles
                                    which
                                    are capable of sending and receiving information in a wireless manner between
                                    manufacturers, other vehicles and 3rd party service providers. In Automated
                                    vehicles,
                                    critical vehicle control operations are given to the vehicle by the driver through
                                    indirect means. Europe has such innovative automotive companies for sale so there is
                                    a
                                    good opportunity to buy such an automobile business for sale.</p>

                                <p class="text-justify themeBlack">Intelligent Transport System is an upcoming
                                    technology capable
                                    of radically changing the
                                    way automobile interaction is done between each other and with the travel systems. 
                                    It
                                    will be helpful in dramatically increasing the performance with regard to the
                                    environment, road use, and vehicle safety.</p>
                            </accordion-group>
                            <accordion-group [isOpen]="false" #myGroup3>
                                <div class="clearfix" accordion-heading type="button">
                                    <div class="accordian-display"><span class=" themeBlack">
                                        <i class="mr-2 fas"
                                            [ngClass]="{'fa fa-arrow-down': myGroup3?.isOpen, 'fa fa-arrow-right': !myGroup3?.isOpen}"></i>
                                    </span><span class=" themeBlack">
                                        Opportunities
                                        & Challenges in Buying an Automotive Bussiness
                                    </span></div>
                                </div>
                                <strong class=" themeBlack">Opportunities & Challenges in Buying an Automotive Business
                                    in Europe</strong>

                                <p class="text-justify themeBlack">Europe accounts for 25 % of all cars produced
                                    globally. </p>

                                <p class="text-justify themeBlack">Today, around 300 million cars run on the roads of
                                    Europe.  Automobile manufacturing is
                                    a significant business in Europe producing 19.7 million light and heavy motor
                                    vehicles
                                    annually. Europe has much automotive company for sale and one can look forward to
                                    acquiring any automotive manufacturing company for sale in Europe.  Last year, over
                                    5.5
                                    million cars were exported from Europe with a worth of 130 billion euros. The
                                    countries
                                    from EU15 make around 415 billion euros from tariffs and charges from the automotive
                                    sector.</p>

                                <p class="text-justify themeBlack">The automotive sector, being the largest investor in
                                    the private sector in Europe
                                    invests over 50 million euros for research every year.  Turnover from the automobile
                                    industry contributes to 7% of the EU’s gross domestic product.</p>

                                  <p class="text-justify themeBlack">The Automotive manufacturers in Europe operate
                                    around 300 vehicle assembly and
                                    production plants in over 25 countries across Europe.  The European automotive
                                    industry
                                    is a strategic player, delivering world-class standard products globally and
                                    bringing a
                                    90-billion-euro trade surplus.  The major players participating in the automotive
                                    industry in Europe include Volkswagen, Fiat Chrysler Automobiles, DIAMLER, BMW,
                                    RENAULT,
                                    PSA, VOLVO, FORD, Jaguar Land Rover, IVECO, TOYOTA Europe, HYUNDAI Europe, HONDA
                                    Europe,
                                    DAF, Valeo, and GKN.  Several automotive businesses for sale are available in
                                    Europe.
                                    Strategic investors have several options to choose from automotive business for
                                    sale,
                                    automotive companies for sale in Europe.</p>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<app-footer></app-footer>