<section>
    <div class="container-fluid pos p-0">
        <div class="line2"></div>
    </div>
    <div class="fluid-container">
        <div class="jumbotron font-weight-bold">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="mt-2 font-weight-bold">Register buyer - Post your requirements :</h4>
                </div>
                <div class="col-md-6"><button class="btn btn-hover btn-lg border btn-class float-right">Schedule a Free
                        Call</button></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow-lg p-3  bg-white rounded-lg mt-5">
                    <strong class="mt-3">*Which of the following represents you best?</strong>
                    <form>
                        <div class="checkbox">
                            <label><input type="checkbox" class="ml-2" value=""> Private Equity</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="ml-2" value=""> Manufacturing Conglomerate</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="ml-2" value="" checked> Turnaround Fund</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" class="ml-2" value=""> Private Investor</label>
                        </div>
                    </form>
                    <div class="note">Please check only one</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded-lg mt-5">
                    <h3 class="font-weight-bold">Strategic</h3>
                    <form>
                        <div class="dropdown mt-3">
                            <div class="font-weight-bold">
                                Investment Budget
                            </div>
                            <select class="form-control mt-2 mb-2">
                                <option>Less than € 5 million</option>
                            </select>
                        </div>
                        <div class="dropdown mt-1">
                            <div class="font-weight-bold">
                                Country
                            </div>
                            <select class="form-control mt-2 mb-2">
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="dropdown mt-1">
                            <div class="font-weight-bold">
                                Industry
                            </div>
                            <select class="form-control mt-2 mb-2">
                                <option>Aerospace</option>
                            </select>
                        </div>
                        <div class="dropdown mt-1">
                            <div class="font-weight-bold">
                                Type of Investor
                            </div>
                            <select class="form-control mt-2 mb-2">
                                <option>Majority</option>
                            </select>
                        </div>
                    </form>
                    <div class="note">Please scroll the arrows up and down to find your answer
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg p-3 mb-1 bg-white rounded-lg mt-5">
                    <h3 class="font-weight-bold">Financial</h3>
                    <form>
                        <div class="dropdown mt-3">
                            <div class="font-weight-bold">
                                Revenue Range
                            </div>
                            <select class="form-control mt-2 mb-2">
                                <option>Less than € 10 million</option>
                            </select>
                        </div>
                        <div class="dropdown mt-1">
                            <div class="font-weight-bold">
                                EBITDA % Range
                            </div>
                            <select class="form-control mt-2 mb-2">
                                <option>Less than 10%</option>
                            </select>
                        </div>
                    </form>
                    <div class="note">Please scroll the arrows up and down to find your answer</div>
                </div>
                <div class="card shadow-lg p-3 mb-5 bg-white rounded-lg mt-1">
                    <form>
                        <div class="dropdown">
                            <div class="font-weight-bold">
                                Revenue Range
                            </div>
                            <textarea class="form-control mt-2 mb-2"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded-lg mt-5">
                    <h3 class="font-weight-bold">Personal Details</h3>
                    <form>
                        <div class="dropdown mt-3">
                            <div class="font-weight-bold">
                                *Your Name (Last Name, Middle Name, First Name)
                            </div>
                            <select class="form-control mt-2 mb-2">
                                <option></option>
                            </select>
                        </div>
                        <div class="dropdown mt-1">
                            <div class="font-weight-bold">
                                *Company
                            </div>
                            <select class="form-control mt-2 mb-2">
                                <option></option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="dropdown mt-1">
                                    <div class="font-weight-bold">
                                        *Position
                                    </div>
                                    <select class="form-control mt-2 mb-2">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dropdown mt-1">
                                    <div class="font-weight-bold">
                                        *Designation
                                    </div>
                                    <select class="form-control mt-2 mb-2">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown mt-1">
                            <div class="font-weight-bold">
                                *Location
                            </div>
                            <select class="form-control mt-2 mb-2">
                                <option></option>
                            </select>
                        </div>
                        <div class="dropdown mt-1">
                            <div class="font-weight-bold">
                                *Company Email Address
                            </div>
                            <select class="form-control mt-2 mb-2">
                                <option></option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="text-center note font-weight-bold">Please make sure that your contact details are right before clicking SUBMIT.</div>
        <div class="text-center"><button class="btn btn-primary pl-4 pr-4 mt-2 mb-5">SUBMIT</button></div>
    </div>
</section>
<app-footer></app-footer>