<div id="particles-js"></div>
<section>
    <div class="container-fluid pos p-0">
        <div class="line2"></div>
        <div class="jumbotron text-center font-weight-bold">
            <h1 class="font-weight-bold text-decoration-underline themeBlack">{{Title}}</h1>
        </div>
    </div>
    <div class="fluid-container">
        <div class="text-center font-weight-bold mid">
            <h1>COMING SOON...</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
<app-footer></app-footer>