<section>
  <div class="container-fluid pos p-0">
    <div class="line2"></div>
  </div>    
  <div class="container">
    <div class="mt-5 text-center font-weight-bold mb-5">
      <h3 class="font-weight-bold text-decoration-underline themeBlue">We do focused research to find the right
        international investor for you. International investors
        offer better multiples than local investors</h3>
    </div>
    <div class="row">
      <div class="col-md-3 mt-auto mb-auto">
        <h4 class="themeBlack"><strong>Country</strong></h4>
      </div>
      <div class="col-md-2">
        <label class="text-decoration-underline themeBlack"><strong><u>Western Europe</u></strong></label>
        <form>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
          <label for="vehicle1" class="ml-2 themeBlack lebelfont"> Austria</label><br>
          <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
          <label for="vehicle2" class="ml-2 themeBlack lebelfont"> Belgium</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle3" class="ml-2 themeBlack lebelfont"> France</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle4" class="ml-2 themeBlack lebelfont"> Germany</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle5" class="ml-2 themeBlack lebelfont"> Netherlands</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle6" class="ml-2 themeBlack lebelfont"> Switzerland</label><br>
        </form>
      </div>
      <div class="col-md-3">
        <label class="text-decoration-underline themeBlack"><strong><u>Central and Eastern Europe</u></strong></label>
        <form>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
          <label for="vehicle1" class="ml-2 themeBlack lebelfont"> Czech Republic</label><br>
          <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
          <label for="vehicle2" class="ml-2 themeBlack lebelfont"> Hungary</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle3" class="ml-2 themeBlack lebelfont"> Poland</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle4" class="ml-2 themeBlack lebelfont"> Romania</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle5" class="ml-2 themeBlack lebelfont"> Slovakia</label>
        </form>
      </div>
      <div class="col-md-2">
        <label class="text-decoration-underline themeBlack"><strong><u>Southern Europe</u></strong></label>
        <form>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
          <label for="vehicle1" class="ml-2 themeBlack lebelfont"> Croatia</label><br>
          <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
          <label for="vehicle2" class="ml-2 themeBlack lebelfont"> Italy</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle3" class="ml-2 themeBlack lebelfont"> Portugal</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle4" class="ml-2 themeBlack lebelfont"> Spain</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle5" class="ml-2 themeBlack lebelfont"> Slovenia</label>
        </form>
      </div>
      <div class="col-md-2">
        <label class="text-decoration-underline themeBlack"><strong><u>Northern Europe</u></strong></label>
        <form>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
          <label for="vehicle1" class="ml-2 themeBlack lebelfont"> Denmark</label><br>
          <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
          <label for="vehicle2" class="ml-2 themeBlack lebelfont"> Finland</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle3" class="ml-2 themeBlack lebelfont"> Norway</label><br>
          <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
          <label for="vehicle4" class="ml-2 themeBlack lebelfont"> Sweden</label>
        </form>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3 mt-auto mb-auto">
        <h4 class="themeBlack themeBlack"><strong>Industry</strong></h4>
      </div>
      <div class="col-md-2">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1 themeBlack" class="ml-2 lebelfont"> Automotive</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2 themeBlack" class="ml-2 lebelfont"> Electric Vehicle</label><br>
      </div>
      <div class="col-md-3">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1 themeBlack" class="ml-2 lebelfont"> Energy</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2 themeBlack" class="ml-2 lebelfont"> Industrial Goods</label><br>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3  mt-auto mb-auto">
        <h4 class="themeBlack themeBlack mt-4"><strong>Budget</strong></h4>
      </div>
      <div class="col-md-9 mt-3">
        <select class="form-control">
          <option class="themeBlack" disable>Budget</option>
          <option class="themeBlack">0 - €10 mn</option>
          <option class="themeBlack">€10 mn - €20 mn</option>
          <option class="themeBlack">€20 mn - €50 mn</option>
          <option class="themeBlack">more than €50 mn</option>
        </select>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3 ">
        <h4 class="themeBlack mb-0 mt-4"><strong>Your e-mail ID*</strong></h4>
      </div>
      <div class="col-md-6 mt-3">
        <input type="text" class="form-control" (blur)="getemailvalidate($event)" (keyup)="getemailvalidate($event)">
      </div>
      <div class="col-md-3 mt-3">
        <button type="button"
          class="btn btn-class btn-primary text-white btn-lg anchor getting-started-button btn-hover themeBlack"
          routerLink="/request-information" [disabled]="isOk == false">
          Send Search Results <i class="fas fa-long-arrow-alt-right float-right mt-1"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
       <p class="themeBlack">NOTE : We will send results to your e-mail ID.</p><br>
      <h5><strong class="themeBlack mt-5">You can also register <a routerLink="/request-information">here</a> in our private network and get notified when an investor choses
          to discuss an
          offer with you.</strong></h5>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <button type="button"
          class="btn btn-class btn-primary text-white btn-lg anchor getting-started-button btn-hover themeBlack"
          routerLink="/request-information">
          Register Here <i class="fas fa-long-arrow-alt-right float-right mt-1"></i>
        </button>
      </div>
    </div>
  </div>
</section>
