<section>
    <div class="container-fluid pos p-0">
        <div class="line2"></div>
    </div>
    <div class="fluid-container">
        <div class="jumbotron text-center font-weight-bold">
            <h1 class="font-weight-bold text-decoration-underline themeBlack" style="font-size:5vw;">Austria</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-12 col-12">
                        <button
                            class="btn btn-lg bg-light float-lg-left text-white w-100 mb-md-2 btnfont themeBlack responsive-font"
                            [ngClass]="{'btn-primary': tab=='1','bg-light': tab=='2'}" routerLink="/comming-soon">Buy
                            Company in Austria <i class="fa fa-arrow-right text-white ml-2"></i></button>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12 col-12">
                        <button
                            class="btn btn-lg bg-light float-lg-right mt-lg-0 mt-xl-0 mt-md-0 mt-2 w-100 btnfont themeBlack responsive-font"
                            [ngClass]="{'btn-primary': tab=='2','bg-light': tab=='1'}" routerLink="/comming-soon">Sell
                            Company in Austria <i class="fa fa-arrow-right ml-2"></i></button>
                    </div>
                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-md-12 mt-5 mb-5 pb-5" id="one">
                        <accordion>
                            <accordion-group [isOpen]="false" #myGroup>
                                <div class="clearfix" accordion-heading type="button">
                                    <div class="accordian-display"><span class="pull-left float-left themeBlack"><i
                                                class="mr-2 themeBlack fas"
                                                [ngClass]="{'fa fa-arrow-down': myGroup?.isOpen, 'fa fa-arrow-right': !myGroup?.isOpen}"></i></span><span
                                            class="pull-left float-left themeBlack">Business
                                            Opportunities & Businesses for Sale </span></div>
            
                                </div>
                                <strong class="themeBlack">Business opportunities& businesses for sale in
                                    Austria</strong>

                                <p class="text-justify themeBlack">Austria’s key business sector is the tourism
                                    industry.
                                    Machinery, textiles and metallurgical products form the strong pillars for the
                                    Austrian economy. The services sector contributes to two-thirds of the gross
                                    domestic product contributing €232 billion. Trade and industry make up about a third
                                    of the GDP, and agriculture contributes to 2%. </p>

                                <p class="text-justify themeBlack">Austria's top 10 export commodities make up
                                    two-thirds of the
                                    total export volume. Most exports go to European countries (mainly Germany) and 15%
                                    go overseas. The main export commodities are machinery and equipment, motor vehicles
                                    and parts, paper and paperboard, metal goods, chemicals, iron and steel, textiles,
                                    foodstuff.</p>

                                 
                                <p class="text-justify themeBlack">Austria offers foreign investors and business persons
                                    a wide
                                    range of business opportunities including funding and financial support measures for
                                    company start-ups, small and medium-sized enterprises (SMEs), research and
                                    development, investments and new technologies. Austria is the fourth richest country
                                    in the EU. </p>

                                <p class="text-justify themeBlack">We know a lot of business investment opportunities in
                                    Austria
                                    and we can help you to buy a business in Austria or invest in a business in Austria
                                    according to your needs. Listed below are some business for sale in Austria that are
                                    open to discussing a business sale at this moment. </p>
                            </accordion-group>
                            <accordion-group [isOpen]="false" #myGroup2>
                                <div class="clearfix" accordion-heading type="button">
                                    <div class="accordian-display"><span class=" themeBlack">
                                            <i class="mr-2 themeBlack fas"
                                                [ngClass]="{'fa fa-arrow-down': myGroup2?.isOpen, 'fa fa-arrow-right': !myGroup2?.isOpen}"></i>
                                        </span><span class=" themeBlack">
                                            Overview
                                        </span>
                                    </div>
                                </div>
                                <strong class=" themeBlack">Overview of Austria</strong>

                                ​<p class="text-justify themeBlack">Austria is a federal republic state with a
                                    parliamentary
                                    democracy, consisting of 9 independent federal regions (Burgenland, Carinthia, Lower
                                    Austria, Upper Austria, Salzburg, Styria, Tirol, Vorarlberg, and Vienna) with their
                                    own provincial governments. Austria has an area of 83.858 sq. km with 8.8 million
                                    inhabitants. </p>

                                <p class="text-justify themeBlack">Austria is bordered by the Czech Republic and Germany
                                    to the
                                    north, Hungary, and Slovakia to the east, Slovenia and Italy to the south, and
                                    Switzerland and Liechtenstein to the west. Austria is the 12th richest country in
                                    the world in terms of GDP per capita, has a well-developed social market economy,
                                    and a high standard of living.</p>

                                <p class="text-justify themeBlack">The major political parties of Austria are Austrian
                                    People's
                                    Party, Social Democratic Party of Austria, Freedom Party of Austria, NEOS – The New
                                    Austria and Liberal Forum, NOW – List Pilz, The Greens – The Green Alternative. The
                                    major cities in Austria are Vienna (capital), Graz, Linz, Salzburg, Innsbruck,
                                    Klagenfurt, Villach, Wels, Sankt Polten, Dornbirn.</p>

                                <p class="text-justify themeBlack">The main languages spoken in Austria are German
                                    (official),
                                    Alemannic, Austro-Bavarian. Minority languages spoken are Turkish, Serbian,
                                    Burgenland Croatian, Hungarian and Slovene. The schilling was the currency of
                                    Austria from 1925 to 1938 and from 1945 to 1999, and the circulating currency until
                                    2002. Now the currency used in Austria is Euro (€).</p>

                                <p class="text-justify themeBlack">Since 1991, more than 7,183 mergers & acquisitions
                                    transactions
                                    have been announced with a known total value of €261.6 billion. In 2017, over 245
                                    deals with a total value of over €12.9 billion have taken place. They are not only
                                    active in national deals but also as important investors in cross-border M&A, with
                                    Germany being the most important partner.</p>

                                <p class="text-justify themeBlack">854 German companies have been acquired by Austrian
                                    parent
                                    companies (outbound) so far. The industry with the largest M&A activity in Austria
                                    in terms of transaction value has been the financial sector, whereas the industry
                                    with the largest number of transactions has been Industrials - representing 19.2%.
                                    Austria is a member of the European Union, the United Nations as well as most UN
                                    organizations.</p>

                                <p class="text-justify themeBlack">The largest transactions with involvement of Austrian
                                    companies
                                    have been the acquisition of ‘Bank Austria’ by HypoVereinsbank for €7.8 billion in
                                    2000, the acquisition of Porsche holding Salzburg by Volkswagen Group for €3.6
                                    billion in 2009, and the acquisition of ‘Banca ComercialăRomână’ by Erste Group for
                                    €3.7 billion in 2005.</p>

                                <p class="text-justify themeBlack">Some of the notable MNCs, OEMs, firms in Austria are
                                    Agrana, AHT
                                    Cooling Systems, AKG Acoustics, Ammerer Bed Company, ams AG, Andritz, Atomic Skis,
                                    Augarten porcelain, AMAG Austria Metall AG, Austria Wirtschaftsservice Gesellschaft
                                    (aws), Austrian Airlines, AVL, B&R, Bank Austria, BAWAG, Bene AG, Bestattung Wien,
                                    Billa, Bohler-Uddeholm, orealis, Bosendorfer, Bundesimmobiliengesellschaft (BIG),
                                    ISC Semiconductor, Coffeeshop ompany, Delfortgroup, Dependeq, Doka Group,
                                    DoppelmayrGaraventa Group, Dorotheum, rsteank, Fabasoft, Fischer, Frequentis, GE
                                    Jenbacher, Gessler, Glock Ges.m.b.H., Goldscheider ceramics, Julius Blum, Julius
                                    Meinl, Kapsch, Kika, Kores, KTM, Lenzing AG, Loblich o., Lyoness, Magna Steyr,
                                    Mayr-Melnhof, Neumann International, Niki, Noctua, Ã–AF, OMV, nepharm,
                                    Ã–sterreichischeIndustrieholding AG, Palfinger, Pfanner, Piatnik&Sohne, Planseeroup,
                                    Puch, Raiffeisen, Red Bull GmbH, RHI AG, Rosenbauer, Runtastic, Semperit, SKIDATA,
                                    Steyrannlicher, Strabag, Stroh, Swarovski, Telekom Austria, TourRadar, Tushek&Spigel
                                    Supercars, niqa, Verbund, Vienna Insurance Group, Voestalpine, Wienerberger,
                                    Zumtobel Lighting Group.</p>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="wrap1 cta1 -decontain ca2">
        <p class="text-center font-weight-bold text-white">Get Started Today</p>
        <div class="text-center"><button class="btn btn-primary btn-rqst" routerLink="/comming-soon"><i
                    class="fa fa-arrow-right mr-2"></i> Request Membership </button></div>
    </div>
</section>
<app-footer></app-footer>