<section>
    <div class="container-fluid pos p-0">
        <div class="line2"></div>
    </div>
    <div class="fluid-container">
        <div class="jumbotron text-center font-weight-bold">
            <h1 class="font-weight-bold themeBlack">Aerospace Industry in Europe</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-12 col-12">
                        <button class="btn btn-lg bg-light float-lg-left text-white custom-btn w-100 mb-md-2 btnfont themeBlack" [ngClass]="{'btn-primary': tab=='1','bg-light': tab=='2'}" routerLink="/comming-soon">Buy Aerospace Company in EU <i class="fa fa-arrow-right ml-2"></i></button>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12 col-12">
                        <button class="btn btn-lg bg-light float-lg-right mt-lg-0 mt-xl-0 mt-md-0 mt-2 custom-btn w-100 btnfont" [ngClass]="{'btn-primary': tab=='2','bg-light': tab=='1'}" routerLink="/comming-soon">Sell Aerospace Company in EU <i class="fa fa-arrow-right ml-2"></i></button>
                    </div>
                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-md-12 mt-5 mb-5 pb-5" id="one">
                        <accordion>
                            <accordion-group [isOpen]="false" #myGroup>
                                <div class="clearfix" accordion-heading type="button">
                                    <h5 class="pull-left float-left themeBlack"><i class="mr-2 fas"
                                            [ngClass]="{'fa fa-arrow-down': myGroup?.isOpen, 'fa fa-arrow-right': !myGroup?.isOpen}"></i>Market
                                        Size & Major Players</h5>
                                   
                                </div>
                                <strong class=" themeBlack">Market Size and Major Players</strong>


                                <p class="text-justify themeBlack">Europe is the world’s leading manufacturer of flight engines, helicopters, airplanes, its components, and parts.  Aerospace Industries in Europe is of key significance on the global market responsible for manufacturing and delivering to the aerospace needs, around the World. </p> 

                                <p class="text-justify themeBlack">Around 40,000 aircraft are expected to be manufactured within the next 2 decades. With the civil aviation part of the sector alone generating a turnover of more than 150 billion euros employing 1 million workers, there is a lot of business opportunities involved with this sector.  The services in the Aerospace Industry in Europe is capable of impacting the economy with additional tax revenues.</p>

                                <p class="text-justify themeBlack">European Aerospace Industry manufactures helicopters, aircraft, drone systems for military and civil requirements, providing training and maintenance aftermath. The European aerospace industry produces internationally standard aero-products and exports all over the world worth over 100 billion euros annually.  Europe has aerospace and defense companies for sale and aerospace fastener distributor for sale and one can look forward to acquiring such aerospace businesses for sale. The major players impacting the aerospace industry in Europe include Airbus, Safran group, Rolls-Royce, MTU Aero Engines, Leonardo, Dassault Aviation, Rheinmetall Group, Zodiac Aerospace, BAE Systems, Saab AB, KONGSBERG, Altigator, MBDA, Thales Group. A substantial share of investment made for research and development in the aerospace sector in Europe.</p>

                            </accordion-group>
                            <accordion-group [isOpen]="false" #myGroup2>
                                <h5 class=" themeBlack" accordion-heading type="button">
                                    <i class="mr-2 fas"
                                        [ngClass]="{'fa fa-arrow-down': myGroup2?.isOpen, 'fa fa-arrow-right': !myGroup2?.isOpen}"></i>Future
                                    Trends and Upcoming Technologies
                                </h5>
                                <strong class=" themeBlack">Trends and Upcoming Technologies</strong>

                                ​<p class="text-justify themeBlack">The European Aerospace industry is working towards sustainable & green aviation. The growth of civil aviation is evolving more around virtual/Augmented reality and automation. New Air Traffic Management Systems are developed for the aviation sector with different altitude ranges.  Strategic investors have several options to choose from aerospace companies for sale in Europe.</p>

                                <p class="text-justify themeBlack">Usability Testing of Unmanned aircraft (which are also called as drones) are on the rise and developers look forward to deploying these drones for various purposes in addition to safety surveillance, door delivery, aerial photography, search and rescue operations. By 2040, it is expected to provide employment opportunities for more than 1 million people. In the future, the drones are expected to be used for more civil applications thus creating an array of business opportunities. Small new technology aerospace businesses are on sale in Europe.</p>

                                <p class="text-justify themeBlack">Never the less, technologies like blockchain, artificial intelligence has the power to impact all fields including the aerospace industry. Digital twin is a technology which creates the digital duplicate of a physical asset.  Realization of flawless flight operations is possible with this digital twin technology as it can be used to compare real-world data with a virtual counterpart.</p>
                            </accordion-group>
                            <accordion-group [isOpen]="false" #myGroup3>
                                <h5 class=" themeBlack" accordion-heading type="button">
                                    <i class="mr-2 fas"
                                        [ngClass]="{'fa fa-arrow-down': myGroup3?.isOpen, 'fa fa-arrow-right': !myGroup3?.isOpen}"></i>Opportunities
                                    & Challenges in Buying an Automotive Bussiness
                                </h5>
                                <strong class=" themeBlack">Opportunities & Challenges in Buying an Automotive Business in Europe</strong>

                                <p class="text-justify themeBlack">Europe accounts for 25 % of all cars produced globally. </p>

                                <p class="text-justify themeBlack">Today, around 300 million cars run on the roads of Europe.  Automobile manufacturing is
                                a significant business in Europe producing 19.7 million light and heavy motor vehicles
                                annually. Europe has much automotive company for sale and one can look forward to
                                acquiring any automotive manufacturing company for sale in Europe.  Last year, over 5.5
                                million cars were exported from Europe with a worth of 130 billion euros. The countries
                                from EU15 make around 415 billion euros from tariffs and charges from the automotive
                                sector.</p>

                                <p class="text-justify themeBlack">The automotive sector, being the largest investor in the private sector in Europe
                                invests over 50 million euros for research every year.  Turnover from the automobile
                                industry contributes to 7% of the EU’s gross domestic product.</p>

                                  <p class="text-justify themeBlack">The Automotive manufacturers in Europe operate around 300 vehicle assembly and
                                production plants in over 25 countries across Europe.  The European automotive industry
                                is a strategic player, delivering world-class standard products globally and bringing a
                                90-billion-euro trade surplus.  The major players participating in the automotive
                                industry in Europe include Volkswagen, Fiat Chrysler Automobiles, DIAMLER, BMW, RENAULT,
                                PSA, VOLVO, FORD, Jaguar Land Rover, IVECO, TOYOTA Europe, HYUNDAI Europe, HONDA Europe,
                                DAF, Valeo, and GKN.  Several automotive businesses for sale are available in Europe.
                                Strategic investors have several options to choose from automotive business for sale,
                                automotive companies for sale in Europe.</p>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<app-footer></app-footer>