<section class="pb-5 pos-relative">
    <canvas class="background"></canvas>
    <div id="particles-js"></div>
    <div class="container top-pad pb-lg-5">
        <div class="row">
            <div class="col-md-12 col-lg-2 col-sm-0 col-0"></div>
            <div class="col-md-12  col-lg-8 col-sm-12 col-12">
                <div class="ticker1 fix-width ml-auto mr-auto" ticker1-initialized="">
                    <p class="ticker1-prefix">Find your next</p>
                    <div class="ticker1-main" data-main="">
                        <div class="ticker1-track" id="news-container">
                            <ul>
                                <li style="display: list-item;" class="item">deal</li>
                                <li style="display: list-item;" class="item">investor</li>
                                <li style="display: list-item;" class="item">advisor</li>
                                <li style="display: list-item;" class="item">deal</li>
                                <li style="display: list-item;" class="item">investor</li>
                                <li style="display: list-item;" class="item">seller</li>
                                <li style="display: list-item;" class="item">buyer</li>
                                <li style="display: list-item;" class="item">advisor</li>
                                <li style="display: list-item;" class="item">deal</li>
                                <li style="display: list-item;" class="item">investor</li>
                            </ul>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <p class="text-center text-desc ml-auto mr-auto mt-lg-4">Work with us to expand your business to another Country. Find
                            new markets, technologies, customers, and a low-cost manufacturing locations.</p>
                    </div>
                </div>
                <div class="row fix-width ml-auto mr-auto">
                    <div class="col-sm-6 col-12">
                        <button class="btn border text-xs-center btn-lg float-md-right bg-primary text-white btn-class btn-hover float-sm-right btn-hover" routerLink="/find-buyer">
                            Find a Buyer
                        </button>
                    </div>
                    <div class="col-sm-6 col-12">
                        <button class="btn btn-lg border float-md-left btn-class btn-hover float-sm-left mt-2 mt-sm-0 mt-md-0 mt-lg-0" routerLink="/find-seller">
                            Find a Seller
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-12  col-sm-0 col-0"></div>
        </div>
    </div>
</section>
<app-footer></app-footer>