<section>
    <div class="container-fluid pos p-0">
        <div class="line2"></div>
    </div>
    <div class="fluid-container">
        <div class="jumbotron text-center font-weight-bold">
            <h1 class="font-weight-bold text-decoration-underline themeBlack" style="font-size:5vw;">Belarus</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-12 col-12">
                        <button
                            class="btn btn-lg bg-light float-lg-left w-100 mb-md-2 bradius btnfont themeBlack  responsive-font"
                            [ngClass]="{'btn-primary': tab=='1','bg-light': tab=='2'}" routerLink="/comming-soon">Buy
                            Company in Belarus <i class="fa fa-arrow-right ml-2"></i></button>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12 col-12">
                        <button
                            class="btn btn-lg bg-light float-lg-right mt-lg-0 mt-xl-0 mt-md-0 mt-2 w-100 bradius btnfont themeBlack responsive-font"
                            [ngClass]="{'btn-primary': tab=='2','bg-light': tab=='1'}" routerLink="/comming-soon">Sell
                            Company in Belarus <i class="fa fa-arrow-right ml-2"></i></button>
                    </div>
                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-md-12 mt-5 mb-5 pb-5" id="one">
                        <accordion>
                            <accordion-group [isOpen]="false" #myGroup>
                                <div class="clearfix" accordion-heading type="button">
                                    <div class="accordian-display"><span class="pull-left float-left themeBlack"><i
                                                class="mr-2 themeBlack fas"
                                                [ngClass]="{'fa fa-arrow-down': myGroup?.isOpen, 'fa fa-arrow-right': !myGroup?.isOpen}"></i></span><span
                                            class="pull-left float-left themeBlack">Business
                                            Opportunities & Businesses for Sale </span></div>
                                    <!-- <span class="badge badge-secondary float-right pull-right">Some HTML here</span> -->
                                </div>
                                <strong class="themeBlack">Business opportunities& businesses for sale in
                                    Belarus</strong>

                                <p class="text-justify themeBlack">Business investment opportunities in Belarus are
                                    immense with
                                    the following main industries: petrochemicals, potash, foodstuffs, timber, metal
                                    cutting machine tools, tractors, trucks, earthmovers, motorcycles, televisions,
                                    synthetic fibres, fertilizers, textiles, radios, refrigerators, agriculture
                                    products: grain, potatoes, vegetables, sugar beets, flax, bee, milk.</p>

                                <p class="text-justify themeBlack">The EEU countries making a $ 5 trillionGDP have a
                                    single customs
                                    tariff, allow free movement of goods, capital, services and workforce. Since Belarus
                                    is a Eurasian Economic Union (EEU) member, the strategic location helps the
                                    investors to get immense benefits by getting direct access to the markets of EEU
                                    countries (Armenia, Belarus, Kazakhstan, Kyrgyzstan and Russia). </p>

                                 
                                <p class="text-justify themeBlack">Belarus made starting a business easier by abolishing
                                    the
                                    requirement to register the book of registry of inspections and allowing its
                                    purchase within six months of incorporation. Belarus made dealing with construction
                                    permits easier by streamlining the process at the one-stop shop.Belarus has
                                    simplified post registration procedures (tax registration, social security
                                    registration, licensing).</p>

                                <p class="text-justify themeBlack">We can help you to buy a business in Belarus or
                                    invest in a
                                    business in Belarus according to your needs. Belarus ranked 37th among 190 countries
                                    in world bank’s ranking of business conditions in 2019. Listed below are some
                                    business for sale in Belarus that are open to discussing a business sale at this
                                    moment.</p>
                            </accordion-group>
                            <accordion-group [isOpen]="false" #myGroup2>
                                <div class="clearfix" accordion-heading type="button">
                                    <div class="accordian-display"><span class="themeBlack">
                                            <i class="mr-2 themeBlack fas"
                                                [ngClass]="{'fa fa-arrow-down': myGroup2?.isOpen, 'fa fa-arrow-right': !myGroup2?.isOpen}"></i>
                                        </span><span class="themeBlack">
                                            Overview
                                        </span></div>
                                </div>
                                <strong class="themeBlack">Overview of Belarus</strong>

                                ​<p class="text-justify themeBlack">Around 9.5 million people live in Belarus. The
                                    official
                                    languages are Belarusian and Russian. Other languages spoken are Polish, Ukrainian
                                    and Yiddish. Minsk is the capital and the largest city in Belarus. The other major
                                    cities are Gomel, Mogilev, Vitebsk, Grodno, Brest, Babruysk,Baranavichy, Barysaw,
                                    Pinsk. </p>

                                <p class="text-justify themeBlack">Belarus occupied 53rd position among 189 countries in
                                    UN’s human
                                    development index (HDI) in 2018.The living, dwelling and educational cost are lower
                                    in Belarus than in majority of western and eastern European countries.</p>

                                <p class="text-justify themeBlack">Belarus’s GDP (PPP) is $201 billion and the nominal
                                    GDP is 60
                                    billion in 2018. The sector wise contribution to GDP is services (51%), industry
                                    (41%) and agriculture (8%). Belarusian rouble is the official currency of Belarus
                                    (Symbol: Br). The rouble is further subdivided into 100 kapeks. 1 Belarusian Rouble
                                    equals0.41 Euro.</p>

                                <p class="text-justify themeBlack">90% of the population in Belarus have higher
                                    secondary or basic
                                    education making it one of the countries with most educated, highly qualified and
                                    industrious people. Strategic investors can buy a businessin Belarus or invest in a
                                    business in Belarus.</p>

                                <p class="text-justify themeBlack">The major export goods are machinery and equipment,
                                    mineral
                                    products, chemicals, metals, textiles, foodstuffs. The main export partners are
                                    Russia (46%), Ukraine (12%), UK (5%), Germany (4%). The major import goods are
                                    mineral products, machinery and equipment, chemicals, foodstuffs, metals. The main
                                    import partners are Russia (55%), China (8%), Germany (5%), Poland (4.5%).</p>

                                <p class="text-justify themeBlack">Annually over 100 million tonnes of European cargo
                                    cross
                                    Belarus’s territory. 90% of the cargo is between Russia and the EU. In 2018,
                                    considerable investment volumes were channelled into companies in Russia (68.2% of
                                    the total), Ukraine (16.5%), and the United Kingdom of Great Britain and Northern
                                    Ireland (6.7%).</p>

                                <p class="text-justify themeBlack">Foreign investors have invested $10.8 billion in
                                    Belarus in
                                    2018. The main investors were commercial entities from Russia (38.3%), the UK
                                    (25.7%), and Cyprus (7.8%). Foreign direct investments amounted to $8.5 billion. In
                                    2018, 10 major Belarus companies were acquired, out of which there was no disclosed
                                    value for 5 deals, another 5 deals were worth € 80 million.</p>

                                <p class="text-justify themeBlack">Unlike Russia, CIS and eastern European countries,
                                    Belarus
                                    preserved 50% of largest national companies in state ownership ensuring full-scale
                                    support, increased manufacturing potential, increased international competitiveness.
                                    There are lot of opportunities to own good business for sale in Belarus.</p>

                                <p class="text-justify themeBlack">With competitive investment and taxation conditions,
                                    there is
                                    good business investment opportunities in Belarus in free economic zones (FEZ),
                                    industrial parks (IP), Hi-tech park (HP), business in small and medium towns, south
                                    eastern district of Mogilev region and Orsha region.</p>

                                <div class="row">
                                    <div class="col-md-6"><span
                                            class="font-weight-bold text-justify-left themeBlack">FEZ:</span>
                                    </div>
                                    <div class="col-md-6"><span class="text-justify-left themeBlack">Profit tax –
                                            0%</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"><span
                                            class="font-weight-bold text-justify-left themeBlack">IP:</span>
                                    </div>
                                    <div class="col-md-6"><span class="text-justify-left themeBlack">VAT – 0%, Offshore
                                            duty – 0%</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"><span
                                            class="font-weight-bold text-justify-left themeBlack">HP:</span>
                                    </div>
                                    <div class="col-md-6"><span class="text-justify-left themeBlack">Profit tax – 0%,
                                            VAT – 0%, Offshore duty – 0%</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"><span
                                            class="font-weight-bold text-justify-left themeBlack">Business in small and
                                            medium towns:</span>
                                    </div>
                                    <div class="col-md-6"><span class="text-justify-left themeBlack">Profit tax for 7
                                            years – 0%</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"><span
                                            class="font-weight-bold text-justify-left themeBlack">South eastern dist. of
                                            Mogilev region:</span>
                                    </div>
                                    <div class="col-md-6"><span class="text-justify-left themeBlack">Profit tax for 7
                                            years – 10%</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"><span
                                            class="font-weight-bold text-justify-left themeBlack">Orsha region:</span>
                                    </div>
                                    <div class="col-md-6"><span class="text-justify-left themeBlack">VAT – 0%</span>
                                    </div>
                                </div>

                                <p class="text-justify themeBlack">Notable and major OEM and MNC in Belarus are
                                    Aliasworlds (Software), Awem (Software), BelaPAN (Broadcasting & entertainment),
                                    Belarus High Technologies Park (Real estate holding & development), Belarusbank
                                    (Banks), Belarusian Railway (Railroads), Belavia (Airlines), BelAZ (Commercial
                                    vehicles & trucks), Belkommunmash (Commercial vehicles & trucks), BelMarket (Food
                                    retailers & wholesalers), Belshina (Tires), Beltelecom (Fixed line
                                    telecommunications), Byelorussian Steel Works (Iron & steel), Credexbank (Banks),
                                    Gazprom Transgaz Belarus (Oil & gas), life Belarus (Mobile telecommunications),
                                    Minsk Motorcycle (Automobiles), Minsk Automobile Plant (Automobiles), Minsk Kristall
                                    (Distillers & vintners), Minsk Tractor Works (Commercial vehicles & trucks), Mozyr
                                    Oil Refinery (Oil & gas), Olivaria Brewery (Brewers), TransAVIAexport Airlines
                                    (Delivery services), Tut.By (Broadcasting & entertainment), Velcom (Mobile
                                    telecommunications), Vysheyshashkola (Publishing).</p>

                                <p class="text-justify themeBlack">Belarus is currently ruled by coalition of communist
                                    party of Belarus, Belarusian patriotic party, republican party of labour and
                                    justice. The current president is Alexander Lukashenko and prime minister is Sergey
                                    Rumas.The major political parties of Belarus are Belaya Rus, agrarian party,
                                    Belarusian socialist sporting party , communist party of Belarus , liberal
                                    democratic party , republican party of labour and justice, Belarusian independence
                                    bloc , united democratic forces of Belarus, Belarusian social democratic assembly,
                                    Belarusian social democratic party, Belarusian liberal party of freedom and
                                    progress, conservative Christian party, social democratic party of popular accord,
                                    Belarusian party "The Greens", Belarusian republican party , socialist resistance
                                    (CIS), European coalition free Belarus, National-Bolshevistic Party.</p>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="wrap1 cta1 -decontain ca2">
        <p class="text-center font-weight-bold text-white">Get Started Today</p>
        <div class="text-center"><button class="btn btn-primary btn-rqst" routerLink="/comming-soon"><i
                    class="fa fa-arrow-right mr-2"></i> Request Membership </button></div>
    </div>
</section>
<app-footer></app-footer>