/* You can add global styles to this file, and also import other style files */
*{margin:0; padding:0}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@font-face {
  font-family: 'Helvetica Neue';
  src: url('assets/fonts/HelveticaNeueLight.woff') format('woff2');
  font-display: swap;
}

// @font-face {
//   font-family: 'sans-serif';
//   src: url('assets/fonts/micross.ttf') format('woff2');
// }
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/inter-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  src: url('assets/fonts/inter-300.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('assets/fonts/inter-400.woff2') format('woff2');
  font-display: swap;
}

// @font-face {
//   font-family: 'Icons';
//   font-weight: normal;
//   font-style: normal;
//   src: url('../fonts/icomoon/fonts/icomoon.ttf?3yvd6q') format('truetype'), url('../fonts/icomoon/fonts/icomoon.woff?3yvd6q') format('woff'), url('../fonts/icomoon/fonts/icomoon.svg?3yvd6q#icomoon') format('svg');
// }

body {
  font-family: Inter, Helvetica Neue, Arial, sans-serif;
  letter-spacing: 0.03em;
}

canvas.particles-js-canvas-el {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  // -webkit-perspective: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.z-index {
  z-index: 999;
}

.ngx-pagination {
  margin-left: 20% !important;
  margin-bottom: 1rem;
}

@media screen and (max-width: 599px) {
  .ngx-pagination {
    margin-left: 0% !important;
    margin-bottom: 1rem;
  }
}

.anchor {
  cursor: pointer;
}

.btn-hover:hover {
  background-color: #326CF4;
  color: #fff;
}

.line2 {
  margin-bottom: 0;
  border-top: 20px solid currentColor;
  color: #326CF4;
  line-height: 10px;
}

.pos {
  padding-top: 79px !important;
}

@media screen and (max-width: 575px) {
  .pos {
    padding-top: 60px !important;
  }
}

.rounded-lg {
  border-radius: 18px !important;
}

.back-white {
  background-color: #fff;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.header-colored {
  background-color: #343646 !important;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  color: #fff;

  .scr {
    color: #fff !important;
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0.25rem;
  }
}

.header-colored .efect-on-btn {
  color: #326CF4 !important;
  background-color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #343636;
  opacity: 1;
  background: transparent;
  padding-left: 0px;
  padding-right: 0px;
}

.custom-btn {
  font-size: 16px;
  border-radius: 3px;
  font-weight: 700;
  min-height: 44px;
}

.h6 {
  font: 700 12px/1.20 Inter, Helvetica Neue, Arial, sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.bradius {
  border-radius: 3px;
}

.btnfont {
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #326CF4;
}

.themeBlack {
  color: #343646;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #343646;
}

.add-padding-15 {
  padding: 5px 10px;
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
  background-color: #6B95F7 !important;
}
.bg-primary {
  background-color: #326CF4 !important;
  border-color: #326CF4 !important;
}

.btn-primary {
  background-color: #326CF4 !important;
  border-color: #326CF4 !important;
}

a.btn-primary:hover, a.btn-primary:focus, button.btn-primary:hover, button.btn-primary:focus {
  background-color: #6B95F7 !important;
}

.themeBlue {
    color: #326CF4;
}

.themeJumbotrone {
    background-color: #F3FAFF;
}

@media only screen and (max-width:1100px) and (min-width:1024px)  {
  .navbar-light .navbar-nav .nav-link {

    font-size: 12px !important;
  }
  .nav-link {
    display: block;
    padding: 0.5rem 0.2rem  !important;
}
.ml-middle {
  margin-left: 18px !important;
}
.pos-relative {
  position: relative;
  min-height: calc(0vh - 0px) !important;
}
}
@media only screen and (max-width:800px) and (min-width:1280px)  {
  .pos-relative {
    position: relative;
    min-height: calc(0vh - 0px) !important;
  }

}